---
import Layout from '../layouts/Layout.astro';
import OffCanvas from '../components/OffCanvas.astro';
import Header from '../components/Header.astro';
---

<Layout title="Sergiioog">
	<Header />
	<section id="principal">
		<div class="sergioPrincipal">
			<figure>
				<img src="assets/fotos/sergio.png" alt="Foto de Sergio">
			</figure>
			<div id="nombreApellidos">
				<h1>Sergio García</h1>
				<h2>Desarrollador Web</h2>
			</div>
			
			
		
			  
		</div>
	</section>
	


</Layout>

<style>
	#principal {
		height: auto; /*Cambiar a auto*/
		width: 100%;
		margin-bottom: 35vh;
	}
	.sergioPrincipal {
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-top: 10vh;
	}
	figure {
        height: 250px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;
		border:  2px solid whitesmoke;
		
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Esto mantiene la relación de aspecto y centra la imagen */
		background: rgba(255, 255, 255, 0.709);
		box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
		backdrop-filter: blur(30px );
		border-radius: 10px;
    }

	#nombreApellidos {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	h1, h2 {
    font-weight: 700;
    letter-spacing: -0.030em;
    background: radial-gradient(rgb(191, 219, 254), rgb(212, 212, 216), rgb(51, 65, 85));
    -webkit-background-clip: text; /* Para navegadores WebKit como Chrome y Safari */
    color: transparent; /* Hace que el color del texto sea transparente */
    background-size: 100% 80%; /* Ajusta el valor para acercar el fondo al texto */
}

h1 {
    font-size: 3rem;

}

h2 {
    font-size: 2.2rem;
}
 	






</style>
